<!DOCTYPE html>
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

  <!-- Basic Page Needs
================================================== -->

  <%= stylesheet_link_tag    "application", media: "all" %>

  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>

  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
  <meta content="<%= current_user.to_json %>" name="<%= :current_user %>"/>

  <meta charset="utf-8">
  <title>Nomad's map</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- endbuild -->
  <link href="http://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700|Roboto+Slab:300,400" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Lato:300,400,900" rel="stylesheet" type="text/css">

  <!-- Favicons
================================================== -->
  <link rel="shortcut icon" href="<%= asset_path 'favicon.ico' %>">

</head>
<body ng-app="angularApp">

<!-- Primary Page Layout
================================================== -->

<div id="wrap" class="colorskin-0">

  <!-- Header -->
  <header class="main-header">
    <div class="row">
      <div class="col-sm-7">
        <div class="header-text">
          <a href="/#main">Nomad's map</a>
        </div>
        <!--<p>A live map and network of digital nomads</p>-->
      </div>
      <div class="col-sm-5">
        <!-- Navigation starts
        ================================================== -->
        <nav id="nav-wrap" class="nav-wrap1 twelve columns">
          <ul id="nav">
            <li ng-class="{ current: activePath=='main' }"><a href="/#main">Main</a></li>
            <li ng-class="{ current: activePath=='browse' }"><a href="/">People</a></li>
            <li ng-class="{ current: activePath=='jobs' }"><a href="/#jobs">Jobs</a></li>
            <li ng-class="{ current: activePath=='main' }"><a href="/#about">About</a></li>
            <li ng-class="{ current: activePath=='add' }" ng-hide="current_user">
              <a href="#/add">My Profile</a>
            </li>
            <li ng-class="{ current: activePath=='admin' }" ng-show="current_user">
              <a href="#/add">
                <i class="icon-user"></i> My profile
              </a>
            </li>
            <signout-user></signout-user>
          </ul>
        </nav>
      </div>
    </div>
  </header>

  <!-- Ui-router view routing -->
  <div ui-view></div>


  <footer id="footer">
    <section class="footbot">
      <div class="container">
        <div class="footer-navi">© 2014 <a href="">Nomad's map</a> All Rights Reserved.</div>
      </div>
      <!-- footer-navigation /end -->
    </section>
    <!-- end-footbot -->
  </footer>
  <!-- end-footer -->
  <span id="scroll-top"><a class="scrollup"><i class="icomoon-arrow-up"></i></a></span>

</body>
</html>