<!DOCTYPE html>
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

  <!-- Basic Page Needs
================================================== -->

  <%= stylesheet_link_tag    "application", media: "all" %>

  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>


  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
  <meta content="<%= current_user.to_json %>" name="<%= :current_user %>"/>

  <meta charset="utf-8">
  <title>Live Work Remote</title>
  <meta name="description" content="">
  <meta name="keywords" content="remote work, work remote, remote jobs, remote work jobs, remote job opportunities, location independent jobs, digital nomad jobs">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- endbuild -->
  <link href="http://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700|Roboto+Slab:300,400" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Lato:300,400,900" rel="stylesheet" type="text/css">

  <!-- Favicons
================================================== -->
  <link rel="shortcut icon" href="<%= asset_path 'favicon.ico' %>">

</head>
<body ng-app="angularApp">

<nav class="navbar navbar-embossed navbar-lg" id="navbar-main" role="navigation">
<div class="navbar-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
    <span class="sr-only">Toggle navigation</span>
  </button>
  <div class="row">
    <div class="col-md-2">
      <a href="#main"><img src="<%= asset_path 'logo.png' %>"></a>

    </div>
    <div class="col-md-10">
      <div class="brand-title">
        <h1>
          <a href="#main">Live Work Remote</a>
        </h1>
        <h2>Remote jobs and community for remote workers</h2>
      </div>

    </div>
  </div>
  <!--<a class="navbar-brand" href="#"></a>-->
</div>
<div class="collapse navbar-collapse" id="navbar-collapse-01">
  <ul class="nav navbar-nav navbar-right">
    <li ng-class="{ current: activePath=='main' }"><a href="/#main"><i class="fa fa-home"></i> Main</a></li>
    <li ng-class="{ current: activePath=='jobs' }"><a href="/#jobs"><i class="fa fa-suitcase"></i> Jobs</a></li>
    <li ng-class="{ current: activePath=='browse' }"><a href="/#browse"><i class="fa fa-group"></i> People</a></li>
    <li ng-class="{ current: activePath=='places' }"><a href="/#places"><i class="fa fa-compass"></i> Places</a></li>
    <!--<li ng-class="{ current: activePath=='main' }"><a href="/#about">About</a></li>-->
    <!--<li ng-class="{ current: activePath=='main' }"><a href="/#about">Resources</a></li>-->
    <li ng-class="{ current: activePath=='add' }" ng-hide="current_user">
      <a href="#/add">My Profile</a>
    </li>
    <li ng-class="{ current: activePath=='admin' }" ng-show="current_user">
      <a href="#/add"><i class="icon-user"></i><i class="fa fa-male"></i> My profile</a>
    </li>
    <li ng-class="{ current: activePath=='admin' }" ng-show="current_user">
      <signout-user></signout-user>
    </li>
  </ul>
</div><!-- /.navbar-collapse -->
</nav>

<!-- Ui-router view routing -->
<div ui-view></div>


<footer id="footer">
<section class="footbot">
  <div class="container">
    <div class="footer-navi">© 2014 <a href="">Nomad's map</a> All Rights Reserved.</div>
  </div>
  <!-- footer-navigation /end -->
</section>
<!-- end-footbot -->
</footer>
<!-- end-footer -->
<span id="scroll-top"><a class="scrollup"><i class="icomoon-arrow-up"></i></a></span>

</body>
</html>